/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Input + button */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Add button */
.add-btn {
  background: #4CAF50;
  color: white;
}

/* Task list */
ul {
  list-style: none;
}

li {
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Buttons inside list */
li button {
  margin-left: 5px;
  background: #e0e0e0;
}

li button:hover {
  background: #d5d5d5;
}
li:hover {
  background: #ececec;
}
.high { color: red; }
.medium { color: orange; }
.low { color: green; }

select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.task-text {
  text-align: left;
  flex: 1;
}

.task-buttons {
  display: flex;
  gap: 5px;
}
button {
  padding: 6px 10px;
  font-size: 12px;
}

.add-btn:hover {
  background: #45a049;
}

li button {
  background: #e0e0e0;
}

li button:first-child {
  background: #2196F3;
  color: white;
}

li button:last-child {
  background: #f44336;
  color: white;
}